ai2-olmo-core==2.2.0
albumentations
breizhcrops==0.0.4.1 # Force the latest available
cartopy
class-registry
einops>=0.7.0
gcsfs
hdf5plugin
matplotlib
numpy
pandas>=2.2 # Force this higher than 1.x
rasterio
shapely>=2 # temporary hack to force shapely 2.x
torch>=2.7
torchvision
universal_pathlib>=0.2.5
wandb>=0.19.0
