name: Lint (type checking, security, code quality, ruff)

on:
  pull_request:
    branches:
      - "main"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  linting:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          lfs: false

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          # Install a specific version of uv.
          version: "0.9.4"

      - name: Set up Python
        with:
          python-version-file: "pyproject.toml"
        run: uv python install

      - name: Install dependencies
        run: |
          uv sync --locked --all-extras --dev

      - name: Linting
        run: |
          pre-commit run --all-files
